h2{
    font-family:$titleFont;
    letter-spacing:0.1rem;
    position:relative;
    padding-bottom:10px;
}

h2::before{
    position: absolute;
    content:("");
    width:60px;
    height:3px;
    background-color:$red;
    bottom:0;
}

h3{
    font-family:$titleFont;
    font-size:1.2rem;
    letter-spacing:0.1rem;
}

h5{
    font-family:$titleFont;
    font-size:1.1rem;
    position:relative;
    padding-bottom:10px;
    letter-spacing:0.1rem;

    &::before{
        position: absolute;
        bottom:0;
        content:("");
        background-color:$red;
        width:30px;
        height:3px;
    }
}
.wrapper{
    max-width:1280px;
    width:80%;
    margin:0 auto;
}
.footerInfo p{
    margin:0;
    font-family:$titleFont;
}

.learnMore{
    @include buttonStyles();
    transition:0.3s;
}

.learnMore:hover{
    background-color:$white;
    color:$black;
}

p{
    font-family:$bodyFont;
    font-size:0.8rem;
}

section{
    padding:10px;
}