footer{
    background-color:$black;
    color:$white;

    .wrapper{
        display:flex;
        flex-direction:column;

        .footerInfo{
            display:flex;  
            justify-content: space-evenly;

        }

        ul{
            padding:0;
            list-style:none;
        }

        .copyrightInfo{
            border-top: 2px rgba($color:$white, $alpha:0.1) solid;
            text-align:center;
            font-family:$titleFont;
            letter-spacing:0.2rem;
        }

        .contact a {
            color:$white;
            text-decoration:none;
            transition:color 0.3s;

            &:hover, &:focus{
                color:$red;
            }
        }

        .socialLinks ul {
            display:flex;
            justify-content:space-between;

            a{
                color:$white;
                transition:color 0.3s;

                &:hover, &:focus{
                    color:$red;
                }
            }
        }

    }
}