.navBar{
    border:2px red solid;
    width:100%;
    position:absolute;
    .wrapper{
        display:flex;
        flex-direction:row;
        align-items:center;
        width:100%;

        .logo{
            flex-basis:10%;

            img{
                margin:0 30px;
                width:100%;
            }
        }

        .navLinks{
            flex-basis:80%;
            font-family:'Bebas Neue', sans-serif;

            ul{
                display:flex;
                flex-direction:row;
                justify-content:space-evenly;
                list-style:none;
            }


            a{
                color:$white;
                text-decoration:none;
                font-size:1.5rem;

            }
            a:hover{
                color:$red;
            }
        }

        .contactLinks{
            flex-basis:10%;
            display:flex;
            flex-direction:column;

            ul{
                list-style:none;


                a{
                    font-family:'Bebas Neue',sans-serif;
                    color:$white;
                    text-decoration:none;
                }
                a:hover{
                    color:$red;
                }
                
            }
        }
    }
    
}