
/* COLOURS */
$white:#fff;
$red:#d01f25;
$black:#000;
$grey:#58585a;

/* FONT */
$titleFont:'Bebas Neue';
$bodyFont: 'Montserrat';
$footerFont:'Oswald';

/* BUTTON MIXINS */
@mixin buttonStyles{
    text-decoration:none;
    background-color:$red;
    border:2px $red solid;
    color:$white;
    font-family:$titleFont;
    padding:10px 15px;
}

html{
    font-size:125%;
}