html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COLOURS */
/* FONT */
/* BUTTON MIXINS */
html {
  font-size: 125%;
}

h2 {
  font-family: "Bebas Neue";
  letter-spacing: 0.1rem;
}

h3 {
  font-family: "Poppins";
  font-size: 0.9rem;
}

h5 {
  font-family: "Bebas Neue";
  font-size: 1.1rem;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: 0.1rem;
}
h5::before {
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #d01f25;
  width: 30px;
  height: 3px;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.footerInfo p {
  margin: 0;
  font-family: "Bebas Neue";
}

.learnMore {
  text-decoration: none;
  background-color: #d01f25;
  border: 2px #d01f25 solid;
  color: #fff;
  font-family: "Bebas Neue";
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.learnMore:hover {
  background-color: #fff;
  color: #000;
}

p {
  font-family: "Poppins";
  font-size: 0.8rem;
}

section {
  padding: 10px;
}

header {
  background-image: url(/assets/bg.jpeg);
  background-size: cover;
}
header .wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
header .wrapper .textContainer {
  border: 2px red solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  padding: 10px;
  margin: 15%;
  height: 30%;
}
header .wrapper .textContainer h2 {
  font-family: "Bebas Neue";
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
header .wrapper .textContainer h3 {
  font-family: "Poppins";
  color: #fff;
  font-size: 1rem;
  margin: 0;
}
header .wrapper .textContainer .learnMore {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header .wrapper .socialContainer {
  position: absolute;
  right: 0px;
  top: 35vh;
}
header .wrapper .socialContainer ul {
  padding: 10px;
  list-style: none;
}
header .wrapper .socialContainer ul li {
  padding: 20px;
}
header .wrapper .socialContainer ul a {
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .wrapper .socialContainer ul a:hover, header .wrapper .socialContainer ul a:focus {
  color: #d01f25;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: transparent;
  color: black;
  z-index: 10;
}
.skip-link:focus {
  left: 0px;
}

.announcement {
  background-color: #58585a;
  color: #fff;
}
.announcement p {
  font-size: 0.8rem;
  font-family: "Poppins";
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.navBar {
  z-index: 10;
  width: 100%;
  position: absolute;
}
.navBar .wrapper {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navBar .wrapper .logo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.navBar .wrapper .logo img {
  margin: 0 30px;
  width: 100%;
}
.navBar .wrapper .navLinks {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-family: "Bebas Neue", sans-serif;
}
.navBar .wrapper .navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}
.navBar .wrapper .navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.navBar .wrapper .navLinks a:hover {
  color: #d01f25;
}
.navBar .wrapper .contactLinks {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navBar .wrapper .contactLinks ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
.navBar .wrapper .contactLinks ul li {
  margin: 20px 0;
  white-space: nowrap;
}
.navBar .wrapper .contactLinks ul a {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-decoration: none;
}
.navBar .wrapper .contactLinks ul .callBtn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .wrapper .contactLinks ul .callBtn:hover, .navBar .wrapper .contactLinks ul .callBtn:focus {
  color: #d01f25;
}
.navBar .wrapper .contactLinks ul .bookNowBtn {
  background-color: #d01f25;
  padding: 10px 15px;
  border: 2px #d01f25 solid;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .wrapper .contactLinks ul .bookNowBtn:hover, .navBar .wrapper .contactLinks ul .bookNowBtn:focus {
  background-color: #fff;
  color: #000;
}

.about {
  background-color: bisque;
  padding: 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  max-width: none;
}
.about .wrapper .aboutImage {
  background-image: url("../../assets/about-2.png");
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.about .wrapper .aboutText {
  padding: 50px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.about .wrapper .aboutText h2 {
  margin: 0;
}

.rooms {
  background-color: rgba(0, 0, 0, 0.8);
}
.rooms .wrapper h2 {
  color: #fff;
}
.rooms .wrapper ul {
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.rooms .wrapper li {
  width: 16.6666666667%;
}
.rooms .wrapper h3 {
  text-align: center;
}
.rooms .wrapper img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.rooms .wrapper img:hover, .rooms .wrapper img:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.rooms .wrapper a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.rooms .wrapper a:hover, .rooms .wrapper a:focus {
  color: rgba(208, 31, 37, 0.7);
}

.rates {
  background-color: blue;
}

.events {
  background-color: orange;
}

.faq {
  background-color: midnightblue;
}

footer {
  background-color: #000;
  color: #fff;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .wrapper .footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .wrapper ul {
  padding: 0;
  list-style: none;
}
footer .wrapper .copyrightInfo {
  border-top: 2px rgba(255, 255, 255, 0.1) solid;
  text-align: center;
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
}
footer .wrapper .contact a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
footer .wrapper .contact a:hover, footer .wrapper .contact a:focus {
  color: #d01f25;
}
footer .wrapper .socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper .socialLinks ul a {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
footer .wrapper .socialLinks ul a:hover, footer .wrapper .socialLinks ul a:focus {
  color: #d01f25;
}